In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [6]:
pd.set_option('display.max_colwidth', None)
parks = pd.read_csv('AllTrails-data-nationalpark.csv')
print(parks['features'])
parks1 = pd.DataFrame(parks)
print(parks1['features'].head(1))

0       ['dogs-no', 'forest', 'river', 'views', 'waterfall', 'wild-flowers', 'wildlife']
1                             ['dogs-no', 'forest', 'views', 'wild-flowers', 'wildlife']
2                                    ['dogs-no', 'partially-paved', 'views', 'wildlife']
3             ['dogs-no', 'forest', 'lake', 'kids', 'views', 'wild-flowers', 'wildlife']
4                               ['dogs-no', 'lake', 'views', 'wild-flowers', 'wildlife']
                                              ...
3308                                                ['dogs-no', 'views', 'wild-flowers']
3309                                                    ['dogs-no', 'views', 'wildlife']
3310                                                        ['dogs-no', 'kids', 'views']
3311                                                    ['dogs-no', 'views', 'wildlife']
3312                                                                           ['views']
Name: features, Length: 3313, dtype: object
0    ['dogs-no', 'forest', 'river', 'views', 'waterfall', 'wild-flowers', 'wildlife']
Name: features, dtype: object

In [7]:
parks.head()

,trail_id,name,area_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,423,"['dogs-no', 'forest', 'river', 'views', 'waterfall', 'wild-flowers', 'wildlife']","['birding', 'camping', 'hiking', 'nature-trips', 'trail-running']",i
1,10236086,Mount Healy Overlook Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,507.7968,3,out and back,1.0,4.5,260,"['dogs-no', 'forest', 'views', 'wild-flowers', 'wildlife']","['birding', 'camping', 'hiking', 'nature-trips', 'walking']",i
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,81.9912,1,out and back,3.0,4.5,224,"['dogs-no', 'partially-paved', 'views', 'wildlife']","['hiking', 'walking']",i
3,10236076,Horseshoe Lake Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,119.7864,1,loop,2.0,4.5,237,"['dogs-no', 'forest', 'lake', 'kids', 'views', 'wild-flowers', 'wildlife']","['birding', 'hiking', 'nature-trips', 'trail-running', 'walking']",i
4,10236082,Triple Lakes Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,1124.7120,5,out and back,1.0,4.5,110,"['dogs-no', 'lake', 'views', 'wild-flowers', 'wildlife']","['birding', 'fishing', 'hiking', 'nature-trips', 'trail-running']",i

In [8]:
new_dataframe = parks1.filter(['features'])
print(new_dataframe)

                                                                              features
0     ['dogs-no', 'forest', 'river', 'views', 'waterfall', 'wild-flowers', 'wildlife']
1                           ['dogs-no', 'forest', 'views', 'wild-flowers', 'wildlife']
2                                  ['dogs-no', 'partially-paved', 'views', 'wildlife']
3           ['dogs-no', 'forest', 'lake', 'kids', 'views', 'wild-flowers', 'wildlife']
4                             ['dogs-no', 'lake', 'views', 'wild-flowers', 'wildlife']
...                                                                                ...
3308                                              ['dogs-no', 'views', 'wild-flowers']
3309                                                  ['dogs-no', 'views', 'wildlife']
3310                                                      ['dogs-no', 'kids', 'views']
3311                                                  ['dogs-no', 'views', 'wildlife']
3312                                                                         ['views']

[3313 rows x 1 columns]

In [9]:
length = len(new_dataframe)

middle_index = length // 2

first_half = new_dataframe[:middle_index]
second_half = new_dataframe[middle_index:]

print(first_half)
print(second_half)

                                                                              features
0     ['dogs-no', 'forest', 'river', 'views', 'waterfall', 'wild-flowers', 'wildlife']
1                           ['dogs-no', 'forest', 'views', 'wild-flowers', 'wildlife']
2                                  ['dogs-no', 'partially-paved', 'views', 'wildlife']
3           ['dogs-no', 'forest', 'lake', 'kids', 'views', 'wild-flowers', 'wildlife']
4                             ['dogs-no', 'lake', 'views', 'wild-flowers', 'wildlife']
...                                                                                ...
1651                                     ['dogs-no', 'forest', 'kids', 'wild-flowers']
1652               ['dogs-no', 'forest', 'river', 'views', 'wild-flowers', 'wildlife']
1653                                                  ['dogs-no', 'kids', 'waterfall']
1654       ['dogs-no', 'forest', 'kids', 'river', 'views', 'wild-flowers', 'wildlife']
1655                                                    ['dogs-no', 'forest', 'views']

[1656 rows x 1 columns]
                                                                     features
1656  ['dogs-no', 'forest', 'views', 'waterfall', 'wild-flowers', 'wildlife']
1657               ['dogs-no', 'forest', 'views', 'wild-flowers', 'wildlife']
1658       ['dogs-no', 'forest', 'kids', 'views', 'wild-flowers', 'wildlife']
1659  ['dogs-no', 'forest', 'views', 'waterfall', 'wild-flowers', 'wildlife']
1660                           ['dogs-no', 'forest', 'views', 'wild-flowers']
...                                                                       ...
3308                                     ['dogs-no', 'views', 'wild-flowers']
3309                                         ['dogs-no', 'views', 'wildlife']
3310                                             ['dogs-no', 'kids', 'views']
3311                                         ['dogs-no', 'views', 'wildlife']
3312                                                                ['views']

[1657 rows x 1 columns]

In [10]:
import re

temp_arr=parks['features'].head(1)
temp_str = temp_arr.to_string()
temp_str = temp_str.split(",")

for a in temp_str:
    anew= a.replace("'", "")
    print(anew)
# split_df = pd.DataFrame(parks1['features'].tolist())
# split_df
#print(anew[3])
# temp_arr1= temp_str[0]
# print(temp_arr1)
# # stringregex = re.compile(r'[^\w\d_]+')
# match = stringregex.match(temp_arr1)
# print(match.group(0))
print(temp_str)

0    [dogs-no
 forest
 river
 views
 waterfall
 wild-flowers
 wildlife]
["0    ['dogs-no'", " 'forest'", " 'river'", " 'views'", " 'waterfall'", " 'wild-flowers'", " 'wildlife']"]

In [11]:
temp_arr1= temp_str[0]
#temp_str1 = temp_arr1.to_string()
temp_arr1 = temp_arr1.split("[")
# print(temp_arr1)


array1 = parks1.filter(['features'])
f_df = pd.DataFrame(array1)
f_df.head(25)

                                                                            features
0   ['dogs-no', 'forest', 'river', 'views', 'waterfall', 'wild-flowers', 'wildlife']
1                         ['dogs-no', 'forest', 'views', 'wild-flowers', 'wildlife']
2                                ['dogs-no', 'partially-paved', 'views', 'wildlife']
3         ['dogs-no', 'forest', 'lake', 'kids', 'views', 'wild-flowers', 'wildlife']
4                           ['dogs-no', 'lake', 'views', 'wild-flowers', 'wildlife']
5                                         ['dogs-no', 'forest', 'views', 'wildlife']
6                         ['dogs-no', 'forest', 'views', 'wild-flowers', 'wildlife']
7                         ['dogs-no', 'forest', 'views', 'wild-flowers', 'wildlife']
8                 ['dogs-no', 'forest', 'kids', 'views', 'wild-flowers', 'wildlife']
9                                    ['forest', 'views', 'wild-flowers', 'wildlife']
10                         ['dogs-no', 'lake', 'kids', 'river', 'views', 'wildlife']
11                                            ['dogs-no', 'forest', 'lake', 'views']
12                                          ['dogs-no', 'lake', 'views', 'wildlife']
13                            ['historic-site', 'river', 'wild-flowers', 'wildlife']
14                          ['dogs-no', 'kids', 'views', 'wild-flowers', 'wildlife']
15                                        ['dogs-no', 'forest', 'views', 'wildlife']
16                ['dogs-no', 'forest', 'kids', 'views', 'wild-flowers', 'wildlife']
17                                                    ['forest', 'kids', 'wildlife']
18                                                              ['dogs-no', 'views']
19                                                              ['dogs-no', 'views']
20                             ['forest', 'river', 'views', 'waterfall', 'wildlife']
21                       ['dogs-no', 'forest', 'lake', 'river', 'views', 'wildlife']
22                                              ['dogs-no', 'views', 'wild-flowers']
23                                   ['forest', 'views', 'wild-flowers', 'wildlife']
24                                                     ['kids', 'views', 'wildlife']

In [24]:
# linear regression feature importance
import nltk
import numpy as np
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from matplotlib import pyplot
# define dataset
features = pd.read_csv('Npark_features.csv')
feat=pd.DataFrame(features)
print(feat.head())
top_N = 25
word_dist = nltk.FreqDist(feat['3'])
# print('All frequencies')
# print('='*60)
rslt=pd.DataFrame(word_dist.most_common(top_N),columns=['Word','Frequency'])

print(rslt)
# print ('='*60)
# feat.head()
for i in feat.columns:
    feat[i][feat[i] == 'dogs-no'] = 15
    feat[i][feat[i] == 'dogs-leash'] = 7
    feat[i][feat[i] == 'wildlife'] = 5
    feat[i][feat[i] == 'forest'] = 14
    feat[i][feat[i] == 'river'] = 8
    feat[i][feat[i] == 'views'] = 11
    feat[i][feat[i] == 'waterfall'] = 7
    feat[i][feat[i] == 'wild-flowers'] = 6
    feat[i][feat[i] == 'lake'] = 9
    feat[i][feat[i] == 'kids'] = 10
    feat[i][feat[i] == 'partially-paved'] = 4
    feat[i][feat[i] == 'beach'] = 13
    feat[i][feat[i] == 'ada'] = 12
    feat[i][feat[i] == 'cave'] = 9
    feat[i][feat[i] == 'dogs'] = 7
    feat[i][feat[i] == 'paved'] = 2.5
    feat[i][feat[i] == 'historic-site'] = 3.5
    feat[i][feat[i] == 'rails-trails'] = 1.5
    feat[i][feat[i] == 'city-walk'] = 0.5
    feat[i][feat[i] == 'hot-springs'] = 4
    feat[i][feat[i] == 'strollers'] = 0.5
    feat[i][feat[i] == 'NaN'] = 0

feat=feat.replace(np.nan,0)
feat['total'] = feat.sum(axis=1)
# print(feat['total'])
parks['features']=feat['total']
feat.tail()
# parks.tail()
# feat.head()  
# i=0
# for f in feat['total']:
#     if(f==0):
#         print(i)
#     i=i+1
# # feat.Severity[feat.Severity == 'Moderate'] = 3
# feat.head()

         1                2      3             4          5             6  \
0  dogs-no           forest  river         views  waterfall  wild-flowers
1  dogs-no           forest  views  wild-flowers   wildlife           NaN
2  dogs-no  partially-paved  views      wildlife        NaN           NaN
3  dogs-no           forest   lake          kids      views  wild-flowers
4  dogs-no             lake  views  wild-flowers   wildlife           NaN

          7    8    9   10   11   12
0  wildlife  NaN  NaN  NaN  NaN  NaN
1       NaN  NaN  NaN  NaN  NaN  NaN
2       NaN  NaN  NaN  NaN  NaN  NaN
3  wildlife  NaN  NaN  NaN  NaN  NaN
4       NaN  NaN  NaN  NaN  NaN  NaN
               Word  Frequency
0             views        870
1              lake        560
2              kids        483
3               NaN        362
4             river        343
5      wild-flowers        266
6            forest        127
7          wildlife        113
8         waterfall         53
9       hot-springs         38
10  partially-paved         32
11    historic-site         31
12          dogs-no         17
13            paved         12
14       dogs-leash          4
15        strollers          1
16             cave          1

         1     2     3    4    5    6    7    8  9  10  11  12  total
3308  15.0  11.0   6.0  0.0  0.0  0.0  0.0  0.0  0   0   0   0   32.0
3309  15.0  11.0   5.0  0.0  0.0  0.0  0.0  0.0  0   0   0   0   31.0
3310  15.0  10.0  11.0  0.0  0.0  0.0  0.0  0.0  0   0   0   0   36.0
3311  15.0  11.0   5.0  0.0  0.0  0.0  0.0  0.0  0   0   0   0   31.0
3312  11.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0   0   0   0   11.0

In [15]:
activities = pd.read_csv('Npark_activities.csv')
act=pd.DataFrame(activities)

top_N = 25
word_dist = nltk.FreqDist(act['2'])
print('All frequencies')
print('='*60)
rslt=pd.DataFrame(word_dist.most_common(top_N),columns=['Word','Frequency'])

print(rslt)
# print ('='*60)
# act.head()
for i in act.columns:
    act[i][act[i] == 'birding'] = 150
    act[i][act[i] == 'NaN'] = 0
    act[i][act[i] == 'backpacking'] = 140
    act[i][act[i] == 'hiking'] = 130
    act[i][act[i] == 'camping'] = 120
    act[i][act[i] == 'nature-trips'] = 110
    act[i][act[i] == 'off-road-driving'] = 100
    act[i][act[i] == 'fishing'] = 90
    act[i][act[i] == 'road-biking'] = 80
    act[i][act[i] == 'mountain-biking'] = 70
    act[i][act[i] == 'scenic-driving'] = 70
    act[i][act[i] == 'walking'] = 85
    act[i][act[i] == 'bike-touring'] = 50
    act[i][act[i] == 'snowshoeing'] = 50
    act[i][act[i] == 'paddle-sports'] = 110
    act[i][act[i] == 'sea-kayaking'] = 180
    act[i][act[i] == 'fly-fishing'] = 75
    act[i][act[i] == 'trail-running'] = 75
    act[i][act[i] == 'horseback-riding'] = 30
    act[i][act[i] == 'rock-climbing'] = 80
    act[i][act[i] == 'cross-country-skiing'] = 45
    act[i][act[i] == 'skiing'] = 40
    act[i][act[i] == 'canoeing'] = 55
    act[i][act[i] == 'whitewater-kayaking'] = 90
    act[i][act[i] == 'snowboarding'] = 40
    act[i][act[i] == 'ice-climbing'] = 15
    act[i][act[i] == 'surfing'] = 35
    act[i][act[i] == 'rails-trails'] = 5
    
act=act.replace(np.nan,0)
act['total'] = act[act.columns].sum(axis=1)
# print(act)
parks['activities']=act['total']
# act.tail()
parks.head()
# # act.head()

All frequencies
============================================================
                    Word  Frequency
0                 hiking       1448
1                birding        503
2           nature-trips        401
3                camping        362
4                    NaN        189
5                walking        127
6          trail-running         92
7                fishing         58
8       off-road-driving         28
9         scenic-driving         27
10       mountain-biking         24
11           snowshoeing         14
12           road-biking         11
13      horseback-riding         10
14         rock-climbing          9
15          bike-touring          4
16  cross-country-skiing          2
17         paddle-sports          2
18          sea-kayaking          1
19           fly-fishing          1

,trail_id,name,area_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,423,66.0,585,i
1,10236086,Mount Healy Overlook Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,507.7968,3,out and back,1.0,4.5,260,51.0,595,i
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,81.9912,1,out and back,3.0,4.5,224,35.0,215,i
3,10236076,Horseshoe Lake Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,119.7864,1,loop,2.0,4.5,237,70.0,550,i
4,10236082,Triple Lakes Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,1124.7120,5,out and back,1.0,4.5,110,46.0,555,i

In [16]:
# Create a copy to keep the original dataset
df2=parks.copy()

In [17]:
# cols_list=['length','elevation_gain','difficulty_rating','visitor_usage','features','activities']
cols_list1=['length','elevation_gain','difficulty_rating','visitor_usage','avg_rating' ]
cols_list2=['features','activities','num_reviews']

In [19]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
scale=StandardScaler()
max_scale=MinMaxScaler()
df5=parks.filter(cols_list1)
# df5.head()
df5[cols_list1]=scale.fit_transform(df5[cols_list1])
# df5.head()
df5['Composite']=df5.sum(axis=1)
# df5.head()

df7=parks.filter(cols_list2)
# df7.head()
df7[cols_list2]=max_scale.fit_transform(df7[cols_list2])
# df7.head()
# df5['features'] = df7['features']
# df5['activities'] = df7['activities']
parks['features'] = df7['features']
parks['activities'] = df7['activities']
parks['num_reviews'] = df7['num_reviews']
# print(df7['num_reviews'])

# df7['Composite']=df7.sum(axis=1)
df7['Composite']=df7.sum(axis=1)
print(df5['Composite'])
df5['Composite'] = df5['Composite'] + df7['Composite']
print(df5['Composite'], df7['Composite'])
# df5['18'] = max_scale.fit_transform(df5[['18']])
# df7.head()
parks['Composite']=df5['Composite']
parks.head()

0       4.064471
1      -1.588688
2      -0.509842
3      -1.890878
4       1.166887
          ...
3308    2.209062
3309    3.132431
3310   -2.316493
3311    0.834485
3312   -0.086587
Name: Composite, Length: 3313, dtype: float64
0       5.219554
1      -0.603733
2      -0.007816
3      -0.777093
4       2.033265
          ...
3308    2.788178
3309    3.697035
3310   -1.854783
3311    1.171364
3312    0.077123
Name: Composite, Length: 3313, dtype: float64 0       1.155083
1       0.984955
2       0.502026
3       1.113785
4       0.866378
          ...
3308    0.579117
3309    0.564604
3310    0.461710
3311    0.336879
3312    0.163710
Name: Composite, Length: 3313, dtype: float64

,trail_id,name,area_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units,Composite
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,0.108378,0.602740,0.443966,i,5.219554
1,10236086,Mount Healy Overlook Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,507.7968,3,out and back,1.0,4.5,0.066615,0.465753,0.452586,i,-0.603733
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,81.9912,1,out and back,3.0,4.5,0.057392,0.319635,0.125000,i,-0.007816
3,10236076,Horseshoe Lake Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,119.7864,1,loop,2.0,4.5,0.060723,0.639269,0.413793,i,-0.777093
4,10236082,Triple Lakes Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,1124.7120,5,out and back,1.0,4.5,0.028183,0.420091,0.418103,i,2.033265

In [25]:
# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LinearRegression 
# from sklearn.metrics import mean_squared_error
# from sklearn.linear_model import Ridge

# regr = LinearRegression()
# x_feat = parks['Composite']
# y_feat = parks['popularity']
# regr.fit(np.array(x_feat).reshape(-1,1), y_feat)

# parks.plot.scatter("Composite", "popularity")

In [21]:
df4 = parks.copy()
df4['Composite'] = scale.fit_transform(df4[['Composite']])
df4['popularity'] = max_scale.fit_transform(df4[['popularity']])
# print(round(parks['Composite'].mean(),4))
# print(round(parks['Composite'].median(),4))

# print(df4['Composite'].describe())
# print(df4['popularity'].max())

x_train, x_test, y_train, y_test = train_test_split(df4['Composite'], df4['popularity'], test_size = 0.2)

# x_intermediate, x_test, y_intermediate, y_test = train_test_split(parks.Composite,parks.popularity,shuffle=True, test_size=0.2, random_state=15)

# x_train, x_validation, y_train, y_validation = train_test_split(x_intermediate, y_intermediate, shuffle=False, test_size=0.25, random_state=2018)

# alphas = [0.001, 0.01, 0.1, 1, 10]
# for alpha in alphas:
#     # instantiate and fit model
#     ridge = Ridge(alpha=alpha, fit_intercept=True, random_state=99)
#     ridge.fit(np.array(x_train).reshape(-1,1), y_train)
#     # calculate errors
#     new_train_error = mean_squared_error(y_train, ridge.predict(np.array(x_train).reshape(-1,1)))
#     new_validation_error = mean_squared_error(y_validation, ridge.predict(np.array(x_validation).reshape(-1,1)))
#     new_test_error = mean_squared_error(y_test, ridge.predict(np.array(x_test).reshape(-1,1)))
#     print('alpha: {:7} | train error: {:5} | val error: {:6} | test error: {}'.format(alpha,round(new_train_error,7),round(new_validation_error,7),round(new_test_error,7)))

regr.fit(np.array(x_train).reshape(-1,1), y_train)
preds = regr.predict(np.array(x_test).reshape(-1,1))
# y_test.head()

validate_preds = regr.predict(np.array(x_train).reshape(-1,1))
parks.to_csv("parks_final.csv")

0.7848
0.4043

In [26]:
# print(regr.coef_)
# print(regr.rank_)
# print(regr.n_features_in_)

a = mean_squared_error(y_test, preds, squared=False)

b = mean_squared_error(y_train, validate_preds, squared=False)

print(a,b)

0.08460000033416927 0.09710699145789935